.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E7E7E7;
    opacity: 0;
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    width: 25%;
    height: 30%;
    border-radius: 0.5rem;
}
.close-button {
    float: left;
    width: 10%;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    display: flex;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content .show{
    display: flex;
    opacity: 1;
}

.header-text{
    margin-top: -4px;
    text-align: center;
}

.header {
    float: right;
    margin-top: -2%;
}

.text_content{
    width: 100%;
    height: 60%;
    padding: 2%;
    direction: rtl;
    overflow-y: scroll;
    background-color: #EEFFF1;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }